---
import Footer from './Footer.astro'
import '../globals.css'
import config from 'virtual:shipyard/config'
import { type MobileSidebarProps } from '../components/SidebarNavigation.tsx'
import { GlobalDesktopNavigation } from '../components/GlobalDesktopNavigation'
import type { NavigationTree, NavigationEntry } from '@/schemas/config'
import { mapObjIndexed } from 'ramda'

type Props = {
  frontmatter?: {
    title?: string
    description?: string
    navigation: MobileSidebarProps
  }
} & {
  title?: string
  description?: string
  navigation: MobileSidebarProps
}
const locale = Astro.currentLocale || 'de'
const currentPath = Astro.url.pathname
const props = Astro.props.frontmatter || Astro.props

const withLocale = (locale: string) => (path: string) => `/${locale}${path}`
const withCurrentLocale = withLocale(locale)
const applyLocaleAndSetActive: (navigation: NavigationTree) => NavigationTree =
  mapObjIndexed((entry: NavigationEntry) => ({
    ...entry,
    ...(entry.href ? { href: withCurrentLocale(entry.href) } : {}),
    active: entry.href === currentPath,
    ...(entry.subEntry
      ? { subEntry: applyLocaleAndSetActive(entry.subEntry) }
      : {}),
  }))

const navigation = applyLocaleAndSetActive(config.navigation)
---

<html>
  <head>
    <meta charset="utf-8" />
    <title>
      {
        config.meta.title
          ? `Levin Keller - ${config.meta.title}`
          : 'Levin Keller'
      }
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <GlobalDesktopNavigation
      client:load
      brand={config.brand}
      navigation={navigation}
    />
    <div>
      <div class="container prose mx-auto px-4">
        <slot />
      </div>
    </div>
    <Footer />
  </body>
</html>
